<html>
<head>
<style>
h1 {
        color: #8ebf42;
        text-align: center;
        font-size: 48;
}
body {
        background-color: #c4e9ef;
      }
ul {
    color: #95852d;
    font-size: 25;
}
h2{
    color: #8ebf42;
}

p{
    color: #95852d;
    text-align : center;
    border-width:5px;
    border-style:solid;
    border-color:#8ebf42;
    padding: 1em;

}
h5{
    color: #95852d;
}

</style>
</head>
<body>
<h1>Schaefer Wiskur's Computer Science Portfolio Page</h1>
<br>
<p>
    Welcome to my Computer Science Portfolio! I am a Freshman at Madonna University and a Computer Science major. I had some prior experience with HTML and CSS before starting the fall semester as I had taken a Web Page Design class in high school, but am still new to coding. Over my first semester I took two different courses for my major, <b>Computer Science 1 and Programming for Everyone 1</b>. I have learned a lot of  new coding information involving Python and Django. To create this webpage, I used HTML, Python, and Django through Pythonanywhere! I will be taking <b>Programming for Everyone 2 </b>next in the 2023 winter semester. I look forward to learning more about coding in the future! Below I list the classes I've taken in my Computer Science major, some languages I've used, and a button that will randomly generate a password for you!
</p>
<h2> Computer Science Classes Taken</h2>
<ul>
    <li> Computer Science 1 </li>
    <li> Programming for Everyone </li>
</ul>
<br>
<h2> Experience with:</h2>
<ul>
    {% for i in language %}
    <li> {{i}} </li>
    {% endfor %}
</ul>


<picture>
    <img align = "right" src="https://www.lakemichigancollege.edu/sites/default/files/2018-02/CISBanner2048X1152.jpg" alt="Computer Science" width="500" height="600" ;>

</picture>
<br>

<form action= "password" target = "_blank">
    <h2> Password Generator</h2>
    <h5> Click the button below for a randomly generated 12 digit password!</h5>
    <a href = "/password">
        <button> Random Password </button>
    </a>
</form>


</body>
</html>
